.footer
  background: $primary-color
  color: #fff
  overflow: auto
  padding: 10px 0
  font: 
    weight: normal
    size: 16px

  .addrs-ico
    margin:
      right: 10px
      top: 5px

  .phone-txt
    margin-left: 10px

  .phone-ico
    margin-top: 5px

@media screen and (max-width: 960px)
  .footer
    position: fixed
    bottom: 0
    width: 100%
    font:
      size: 12px