.nav-bar
  position: absolute
  width: 100%
  height: 110px
  background: white
  //top: calc(100vh - 110px)
  transition: all 0.5s ease-in-out
  border-top: 5px solid $link-color
  z-index: 9

.logo-antephaus
  position: absolute
  top: -47px
  left: 0
  background: url(../img/logo-antephaus.svg)
  background-repeat: no-repeat
  background-size: 368px
  width: 375px
  height: 147px
  margin: 0
  transition: all 0.5s ease-in-out

  @media screen and (max-width: 960px)
    background-size: 250px
    width: 250px


.fixed,
.internal .nav-bar 
  position: fixed
  background: white
  top: 0
  height: 75px
  z-index: 1
  box-shadow: 0 0 8px #ddd
  transition: all 0.5s ease-in-out



  .logo-antephaus
    height: 90px
    top: 5px
    background-size: 170px
    transition: all 0.5s ease-in-out
    width: 175px


.nav-bar

  nav
    float: right
  ul
    list-style: none
    margin: 35px 0 0 0
    padding: 0
    li
      float: left
      padding: 0 15px
    li:hover
      ul
        opacity: 100
        transition: all 0.2s ease-in
        pointer-events: inherit
    a
      font-family: $default-font
      font-size: 16px 
      color: #534633
      padding: 10px 0
    a:hover
      color: $link-color
      border-bottom: 3px solid $link-color
      &.no-border
        border: none
  .flag
    padding: 0 5px
    margin-top: 6px

    a
      background:
        repeat: no-repeat
      text-indent: 9999px
      overflow: hidden
      display: block
      height: 16px
      width: 16px
      padding: 0

    a:hover
      border: none

  .deutsch a
    background:
      image: url(../img/flag-germany.png)

  .turk a
    background:
      image: url(../img/flag-turkey.png)

  ul.language
    float: right
    width: 100px

    @media screen and (max-width: 960px)
      display: none

ul.submenu
  background: #fff
  opacity: 0
  position: absolute
  margin: 0
  border-radius: 4px
  box-shadow: 0 0 4px #ccc
  z-index: 10
  padding: 10px
  pointer-events: none

  a
    padding: 10px
    display: block

  a:hover
    border: none

  li
    display: block
    float: none
    padding: 0
    white-space: nowrap
.menu-icon
  display: none

@media screen and (max-width: 960px)
    .visible
      float:right
      background: $primary-color
      width: 95px
      height: 75px
    
    .menu-icon
      display: block
      color: #fff
      margin-top: 10px
      i 
        display: block
        width: 100%
        text-align: center
      span 
        display: block
        text-align: center
        text-transform: uppercase
        font-weight: normal

    .nav-bar
      .column-wrap
        position: static
      ul
        li
          float: none
          text-align: center
          padding: 20px
      

    .mobile-menu-opened
      height: 100vh
      background: rgba(0,0,0,0.8)

      .fullmenu
        background: none

    nav 
      display: none
      background: #fff
      position: absolute
      top: 0
      bottom: 20px
      left: 20px
      right: 20px
      border-radius: 4px
      box-shadow: 0 0 8px #000

    .submenu
      display: none
