.parallax 
  perspective: 1px
  height: 100vh
  overflow-x: hidden
  overflow-y: auto
  -webkit-perspective-origin-x: 100%
  perspective-origin-x: 100%

.parallax__layer 
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  -webkit-transform-origin-x: 100%
  transform-origin-x: 100%

.parallax__layer--base 
  transform: translateZ(0)

.parallax__layer--back
  transform: translateZ(-1px) scale(2);