.uber-uns
  position: relative
  margin-top: 120px
  height: 464px
  background: 
    image: url(../img/img_uber_uns.jpg)
    size: cover
    position: center center

.uber-uns-wrap
  height: 464px
  position: relative

.uber-uns-phone
  position: absolute
  bottom: -35px  
  padding: 20px
  background: 
    color: #ab2020
  width: 1980px
  left: -1780px
  text-align: right    
  border:
    radius: 4px
  font:
    size: 30px
    weight: bold
  color: #fff

  i 
    margin-right: 20px
.uber-uns-txt
  position: absolute
  bottom: 0
  right: 0  
  padding: 20px
  box-sizing: border-box  
  width: 486px
  background:
    color: rgba(0,0,0,0.3)

  h2
    color: white
    border: none
    text-align: left
    margin-bottom: 50px

  p 
    color: white
    font-size: 16px

@media screen and (max-width: 960px)
  .uber-uns
    height: inherit
  .uber-uns-wrap
    height: inherit

  .uber-uns-txt
    width: 100%
    position: static
  .uber-uns-phone 
    display: none
    
    
