.tabs
  border: none

  a
    color: #000
  .tab-panel
    overflow: auto
    padding: 20px 0

  .ui-tabs-nav
    background: white
    border: none
    text-align: center

    li
      font:
        family: "Fira-sans", Arial, sans-serif
        size: 14px
        weight: bold
      display: inline-block
      float: none
      border: none
      background: none
      border-radius: 4px
      text-transform: uppercase
      color: #818181

    .ui-state-active
      background: $primary-color

      a
       color: white

.dish
  width: 294px
  float: left
  margin-left: 10px 
  //border: 1px solid #ddd
  box-shadow: 0 0 6px #aaa
  border-radius: 4px
  min-height: 150px
  &:last-child
    margin-right: 0

  h3
    position: relative
    background: transparent
      image: url(../img/android-icon-36x36.png)
      repeat: no-repeat
      position: left center
    padding: 15px 15px 15px 32px
    font-size: 16px
    overflow: auto
    margin: 
      top:0										
      bottom: 0
    color: #000
    border-bottom: 2px solid $primary-color

    .dish-name
      font:
        family: "Fira Sans", Arial, Sans-serif
        weight: bold
      background: none
      border: none
      font-weight: bold

    .dish-code
      font-weight: normal
      font-size: 14px
      color: #555
      line-height: 20px

  .ingredients
    margin: 10px

  .photo
    display: none																																																																																																	



.wochenkarte-mob-menu
  position: relative
  display: none
  font:
    family: "Fira Sans", Arial, sans-serif
  text-transform: uppercase

  i
    position: absolute
    right: 20px
    top: 15px


@media screen and (max-width: 960px)
  .dish
    width: 80%
    float: none
    margin-left: 30px
    &:first-child
      margin-left: 30px

  .wochenkarte
    margin-bottom: 40px

@media screen and (max-width: 420px)
  .wochenkarte
    .column-wrap
      position: static
    .tabs
      .desktop
        display: none
    .wochenkarte-mob-menu
        display: block
        padding: 20px
        font:
          family: "Fira-sans", Arial, sans-serif
          size: 16px
          weight: bold
        background:
          color: $primary-color
        color: #fff
        margin: 20px
        border-radius: 4px

    .tabs-overlay
      display: none
      position: fixed
      background: rgba(0,0,0,0.5)
      top: 0
      bottom: 0
      left: 0
      right: 0
      z-index: 19

      .ui-tabs-nav
        display: block
        position: fixed
        z-index: 20
        bottom: calc(100% - 450px)
        right: 10px
        left: 10px
        box-shadow: 0 0 8px #333
        padding: 10px
        z-index: 20

      li
        display: block
        float: none

        a
          display: block
          padding: 20px !important
          float: none !important
