section.speisekarte
  margin-top: 80px
  .column-wrap
    background: #fff
    box-shadow: 0 0 8px #000

  .cf
    clear: both
  
  img
    margin-bottom: 20px

  h2
    position: relative
    height: 296px
    background:
      size: cover

    a
      display: block
      position: relative
      top: -80px
      visibility: hidden

    span
      width: 100%
      font-size: 28px
      display:block
      background: rgba(0,0,0,0.5)
      color: #fff
      padding: 10px 0
      position: absolute
      bottom: 0
      left: 0
    
  .salate
    background-image: url(../img/hero-salat.jpg) 
  .donergerichte
    background-image: url(../img/hero-donergerichte.jpg) 
  .fladenbrot
    background-image: url(../img/hero-fladenbrot.jpg) 
  .gegrilltes
    background-image: url(../img/hero-gegrilltes.jpg) 
  .pizza
    background-image: url(../img/hero-pizza.jpg) 
  .suppen
    background-image: url(../img/hero-suppen.jpg) 

  img 
    display: none

  .dish
    background: #fff
    h3
      //background-image: none
      //padding: 15px

